Node Red Dev/Basic OnOff.txt
[{"id":"764ddb54.c2b7c4","type":"inject","z":"30280483.9bdf7c","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.93331909179688,"y":142,"wires":[["bbff4966.5ff5b8"]]},{"id":"e1dbae39.660df","type":"inject","z":"30280483.9bdf7c","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.93331909179688,"y":221,"wires":[["bbff4966.5ff5b8"]]},{"id":"bbff4966.5ff5b8","type":"switch","z":"30280483.9bdf7c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":363.93328857421875,"y":174.39999389648438,"wires":[["8bf61366.d1c7a"],["8bf61366.d1c7a"]]},{"id":"8bf61366.d1c7a","type":"function","z":"30280483.9bdf7c","name":"","func":"\nif(msg.payload==\"on\"){\n}else{\n    msg.payload = \"off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":543.9334106445312,"y":174.73333740234375,"wires":[["51b74d0a.a0fd04","1b9fe7c2.8c7858"]]},{"id":"51b74d0a.a0fd04","type":"ui_template","z":"30280483.9bdf7c","group":"8f16a559.fb4878","name":"","order":0,"width":0,"height":0,"format":"<style>\n    ul {\n    margin-left: 2em;\n    padding-left: 1em;\n    list-style-type: disc;\n}\n\nli.off {\n    list-style-type: disc;\n    color: #f00;\n    font-size: 200px;\n}\n\nli.on {\n    list-style-type: disc;\n    color: #00ff00;\n    font-size: 200px;\n}\n\n</style>\n\n<div>\n    <li class=\"{{msg.payload}}\"></li>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"x":715.9334106445312,"y":183.53334045410156,"wires":[[]]},{"id":"1b9fe7c2.8c7858","type":"debug","z":"30280483.9bdf7c","name":"","active":true,"console":"false","complete":"payload","x":720.1667785644531,"y":236.79998016357422,"wires":[]},{"id":"8f16a559.fb4878","type":"ui_group","z":"","name":"LED","tab":"4687ecb3.60c8e4","disp":true,"width":"11"},{"id":"4687ecb3.60c8e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]