Node Red Dev/calculations.txt
[{"id":"4007bbff.e01504","type":"ui_template","z":"c67be5ae.8368b8","group":"708af402.3efecc","name":"","order":0,"width":"21","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n<div>\n    <div layout=\"row\" layout-align=\" space-between center\">\n        <div>Google<figure class=\"ok\"></figure></div>\n        <div>Checkers<figure class=\"semi-yellow\"></figure></div>\n        <div>Checkers<figure class=\"semi-aff\"></figure></div>\n        <div>Checkers<figure class=\"down\"></figure></div>\n    </div>\n    <br>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":940.0000305175781,"y":233.93331146240234,"wires":[[]]},{"id":"2c6d882b.6221f8","type":"link in","z":"c67be5ae.8368b8","name":"google","links":["904ef3a.638f91","ac49341c.2f03b8"],"x":79,"y":92.93328857421875,"wires":[["3a333cb8.0304b4"]]},{"id":"3a333cb8.0304b4","type":"function","z":"c67be5ae.8368b8","name":"add weight to google result","func":"\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":90.73328399658203,"wires":[["6d921c95.677a74","ec110b77.337888"]]},{"id":"9d8940d.7ada5c","type":"link in","z":"c67be5ae.8368b8","name":"hpSVR01","links":["904ef3a.638f91","b2435f4e.849de"],"x":94.76657104492188,"y":422.7332763671875,"wires":[["39264609.d1041a"]]},{"id":"39264609.d1041a","type":"function","z":"c67be5ae.8368b8","name":"add weight to hpSVR01 result","func":"\nreturn msg;","outputs":1,"noerr":0,"x":261.7665710449219,"y":428.5333251953125,"wires":[[]]},{"id":"8ba0401d.c757d","type":"link in","z":"c67be5ae.8368b8","name":"hpSVR02","links":["ac49341c.2f03b8","2498629b.bb515e"],"x":97.76657104492188,"y":480.6666030883789,"wires":[["15ad7476.5b7acc"]]},{"id":"15ad7476.5b7acc","type":"function","z":"c67be5ae.8368b8","name":"add weight to hpSVR02 result","func":"\nreturn msg;","outputs":1,"noerr":0,"x":263.7665710449219,"y":484.4665985107422,"wires":[[]]},{"id":"8a1c6bfe.e016f8","type":"link in","z":"c67be5ae.8368b8","name":"checkers","links":["b2435f4e.849de","2498629b.bb515e"],"x":86.76657104492188,"y":154.93328857421875,"wires":[["5540acd1.b909b4"]]},{"id":"5540acd1.b909b4","type":"function","z":"c67be5ae.8368b8","name":"add weight to checkers result","func":"\nreturn msg;","outputs":1,"noerr":0,"x":252.76657104492188,"y":152.73328399658203,"wires":[["9db3b700.3c8668"]]},{"id":"3df3d317.524a9c","type":"ui_template","z":"c67be5ae.8368b8","group":"3d903634.47f09a","name":"","order":0,"width":"21","height":"11","format":"<style>\n    {{msg.style}}\n</style>\n<table style=\"width:100%;\">\n          <tr >\n            <th style=\"padding-right: 199px;\"><h2>Endpoint</h2></th>\n            <th style=\"padding-right: 199px;\"><h2>Status</h2></th> \n            <th style=\"padding-right: 199px;\"><h2>HOST</h2></th>\n            <th style=\"padding-right: 199px;\"><h2>Status</h2></th>\n          </tr>\n          <tr>\n            <td>Jill</td>\n            <td><figure class=\"semi-yellow\"></figure></td>\n            <td>50</td>\n            <td style=\"padding-bottom: 20px;\"><figure class=\"ok\"></figure></td>\n          </tr>\n          <tr>\n            <td>Eve</td>\n            <td><figure class=\"semi-yellow\"></figure></td>\n            <td>94</td>\n            <td style=\"padding-bottom: 20px;\"><div class=\"checkmark\"><md-tooltip>OK</md-tooltip><figure class=\"ok\"></figure><div class=\"checkmark_stem\"></div>\n            <div class=\"checkmark_kick\"></div></div></td>\n          </tr>\n          <tr>\n            <td>John</td>\n            <td><figure class=\"semi-yellow\"></figure></td>\n            <td>80</td>\n            <td style=\"padding-bottom: 20px;\"><div class=\"checkmark_red\"><md-tooltip>Down</md-tooltip><figure class=\"down\"></figure>\n            <div class=\"checkmark_down\"></div></div></td>\n          </tr>\n          <tr>\n            <td>John</td>\n            <td><figure class=\"semi-yellow\"></figure></td>\n            <td>80</td>\n            <td style=\"padding-bottom: 20px;\"><div class=\"checkmark_semi\"><md-tooltip>Semi Affected</md-tooltip><figure class=\"semi-aff\"></figure>\n            <div class=\"triangle-semi\"></div></div></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":933.1001281738281,"y":146.19998931884766,"wires":[[]]},{"id":"6d921c95.677a74","type":"template","z":"c67be5ae.8368b8","name":"CSS","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"        .ok {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #00ff00, #000);\n    }\n    \n    .semi-yellow {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #ffff00, #000);\n    }\n    \n    .semi-aff {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #ffa500, #000);\n    }\n    \n    .down {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #ff0000, #000);\n    }\n    \n   .checkmark {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(45deg); /* IE 9 */\n    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */\n    transform: rotate(45deg);\n}\n\n.checkmark_red {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(90deg); /* IE 9 */\n    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */\n    transform: rotate(90deg);\n}\n\n.checkmark_semi {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(0deg); /* IE 9 */\n    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */\n    transform: rotate(0deg);\n}\n\n\n.checkmark_stem {\n    position: absolute;\n    width:3px;\n    height:9px;\n    background-color:#fff;\n    left:11px;\n    top:6px;\n}\n\n.checkmark_kick {\n    position: absolute;\n    width:3px;\n    height:3px;\n    background-color:#fff;\n    left:8px;\n    top:12px;\n}\n\n.checkmark_down {\n    position: absolute;\n    width:4px;\n    height:8px;\n    background-color:#fff;\n    left:10px;\n    top:7px;\n}\n.triangle-semi{\n    position: absolute;\n    left:5px;\n    top:5px;\n\twidth: 0;\n\theight: 0;\n\tborder-left: 6px solid transparent;\n\tborder-right: 6px solid transparent;\n\tborder-bottom: 10px solid #fff;\n}","x":695.1666870117188,"y":191.73332977294922,"wires":[["4007bbff.e01504","3df3d317.524a9c"]]},{"id":"ec110b77.337888","type":"debug","z":"c67be5ae.8368b8","name":"goo","active":false,"console":"false","complete":"payload","x":539.1667175292969,"y":90.66666412353516,"wires":[]},{"id":"9db3b700.3c8668","type":"debug","z":"c67be5ae.8368b8","name":"checkr ","active":false,"console":"false","complete":"payload","x":350.16668701171875,"y":229.66666412353516,"wires":[]},{"id":"708af402.3efecc","type":"ui_group","z":"","name":"Graphs","tab":"27b9acdc.9839c4","order":1,"disp":false,"width":"30"},{"id":"3d903634.47f09a","type":"ui_group","z":"","name":"Group 1","tab":"27b9acdc.9839c4","order":3,"disp":false,"width":"21"},{"id":"27b9acdc.9839c4","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]