Node Red Dev/central 1a.txt
[{"id":"1d62616.282339f","type":"timestamp","z":"367b8758.c31048","name":"begin","x":449,"y":121,"wires":[["175ce933.bc6ed7","3a5437af.d1afe8"]]},{"id":"38fa7db9.5a7a22","type":"timestamp","z":"367b8758.c31048","name":"end","x":688.7669067382812,"y":81.533447265625,"wires":[["3a5437af.d1afe8"]]},{"id":"175ce933.bc6ed7","type":"http request","z":"367b8758.c31048","name":"online.computicket","method":"GET","ret":"txt","url":"https://online.computicket.com","tls":"","x":559.0000610351562,"y":36.2666015625,"wires":[["38fa7db9.5a7a22"]]},{"id":"3a5437af.d1afe8","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":792.233642578125,"y":132.466796875,"wires":[["f9c15df1.27019"]]},{"id":"f9c15df1.27019","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":899.9334716796875,"y":80.2666015625,"wires":[["bca844a0.d502f8"]]},{"id":"6b36f8f.40fad08","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318.9333190917969,"y":73.39990234375,"wires":[["1d62616.282339f"]]},{"id":"bca844a0.d502f8","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1012,"y":56.533203125,"wires":[]},{"id":"c0259d36.7de98","type":"link in","z":"367b8758.c31048","name":"online.computicket","links":["ef9c12ef.3016a"],"x":168,"y":60,"wires":[["6b36f8f.40fad08"]]},{"id":"cf2d1dc6.d4db8","type":"timestamp","z":"367b8758.c31048","name":"begin","x":449,"y":287,"wires":[["530da30c.d886cc","a00d4bf2.dc55c8"]]},{"id":"99053e40.623d6","type":"timestamp","z":"367b8758.c31048","name":"end","x":688.7669067382812,"y":247.533447265625,"wires":[["a00d4bf2.dc55c8"]]},{"id":"530da30c.d886cc","type":"http request","z":"367b8758.c31048","name":"shopriteholdings","method":"GET","ret":"txt","url":"https://www.shopriteholdings.co.za","tls":"","x":559.0000610351562,"y":202.2666015625,"wires":[["99053e40.623d6"]]},{"id":"a00d4bf2.dc55c8","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":792.233642578125,"y":298.466796875,"wires":[["cd839103.4bc69"]]},{"id":"cd839103.4bc69","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":899.9334716796875,"y":246.2666015625,"wires":[["55cbccd5.43d694"]]},{"id":"8b1c213d.d415a","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318.9333190917969,"y":239.39990234375,"wires":[["cf2d1dc6.d4db8"]]},{"id":"55cbccd5.43d694","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1012,"y":222.533203125,"wires":[]},{"id":"2f0cd3d3.f1cc2c","type":"link in","z":"367b8758.c31048","name":"shopriteholdings","links":["ef9c12ef.3016a"],"x":168,"y":226,"wires":[["8b1c213d.d415a"]]},{"id":"4e7da0c3.8fdb2","type":"timestamp","z":"367b8758.c31048","name":"begin","x":445,"y":445,"wires":[["3e731104.1ee9fe","1f7fb621.d1802a"]]},{"id":"b005fbd.b118908","type":"timestamp","z":"367b8758.c31048","name":"end","x":684.7669067382812,"y":405.533447265625,"wires":[["1f7fb621.d1802a"]]},{"id":"3e731104.1ee9fe","type":"http request","z":"367b8758.c31048","name":"checkers","method":"GET","ret":"txt","url":"https://www.checkers.co.za","tls":"","x":525.0000610351562,"y":360.2666015625,"wires":[["b005fbd.b118908"]]},{"id":"1f7fb621.d1802a","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":788.233642578125,"y":456.466796875,"wires":[["9aa0d47c.e7ce98"]]},{"id":"9aa0d47c.e7ce98","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":895.9334716796875,"y":404.2666015625,"wires":[["7b00baa8.4eb364"]]},{"id":"81bd0dec.1335a","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":314.9333190917969,"y":397.39990234375,"wires":[["4e7da0c3.8fdb2"]]},{"id":"7b00baa8.4eb364","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1023,"y":382.533203125,"wires":[]},{"id":"9c615ca9.f9617","type":"link in","z":"367b8758.c31048","name":"checkers","links":["ef9c12ef.3016a"],"x":164,"y":384,"wires":[["81bd0dec.1335a"]]},{"id":"8ce74b8a.a48218","type":"timestamp","z":"367b8758.c31048","name":"begin","x":442,"y":592,"wires":[["516b92f7.68187c","c626366c.0df408"]]},{"id":"53e8baee.46bfa4","type":"timestamp","z":"367b8758.c31048","name":"end","x":681.7669067382812,"y":552.533447265625,"wires":[["c626366c.0df408"]]},{"id":"516b92f7.68187c","type":"http request","z":"367b8758.c31048","name":"grootpampoen","method":"GET","ret":"txt","url":"https://www.grootpampoen.co.za","tls":"","x":542.0000610351562,"y":507.2666015625,"wires":[["53e8baee.46bfa4"]]},{"id":"c626366c.0df408","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":785.233642578125,"y":603.466796875,"wires":[["94bc98b4.94ead8"]]},{"id":"94bc98b4.94ead8","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":892.9334716796875,"y":551.2666015625,"wires":[["202bd7da.27d468"]]},{"id":"9c8ee41c.a50518","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311.9333190917969,"y":544.39990234375,"wires":[["8ce74b8a.a48218"]]},{"id":"202bd7da.27d468","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1005,"y":527.533203125,"wires":[]},{"id":"781f558f.9d04fc","type":"link in","z":"367b8758.c31048","name":"grootpampoen","links":["ef9c12ef.3016a"],"x":161,"y":531,"wires":[["9c8ee41c.a50518"]]},{"id":"cd540af2.3498e8","type":"timestamp","z":"367b8758.c31048","name":"begin","x":440,"y":737,"wires":[["ace91d47.d3e44","d96ef76d.30d698"]]},{"id":"1768b6dd.63c449","type":"timestamp","z":"367b8758.c31048","name":"end","x":679.7669067382812,"y":702.533447265625,"wires":[["d96ef76d.30d698"]]},{"id":"ace91d47.d3e44","type":"http request","z":"367b8758.c31048","name":"championshipboerewors","method":"GET","ret":"txt","url":"https://www.championshipboerewors.co.za","tls":"","x":548.0000610351562,"y":649.2666015625,"wires":[["1768b6dd.63c449"]]},{"id":"d96ef76d.30d698","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":783.233642578125,"y":748.466796875,"wires":[["b4f168ed.c7a628"]]},{"id":"b4f168ed.c7a628","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":890.9334716796875,"y":696.2666015625,"wires":[["cb4375a9.159a88"]]},{"id":"7728babf.a9ccb4","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.9333190917969,"y":689.39990234375,"wires":[["cd540af2.3498e8"]]},{"id":"cb4375a9.159a88","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1003,"y":672.533203125,"wires":[]},{"id":"9cc1a873.6f1ab8","type":"link in","z":"367b8758.c31048","name":"championshipboerewors","links":["ef9c12ef.3016a"],"x":159,"y":676,"wires":[["7728babf.a9ccb4"]]},{"id":"2a14e5e1.62caba","type":"timestamp","z":"367b8758.c31048","name":"begin","x":436,"y":877,"wires":[["b72b5846.8b2648","4f6169d.fc61798"]]},{"id":"bf923f.f9d08dc","type":"timestamp","z":"367b8758.c31048","name":"end","x":675.7669067382812,"y":837.533447265625,"wires":[["4f6169d.fc61798"]]},{"id":"b72b5846.8b2648","type":"http request","z":"367b8758.c31048","name":"checkersfoodservices","method":"GET","ret":"txt","url":"https://www.checkersfoodservices.co.za","tls":"","x":536.0000610351562,"y":790.2666015625,"wires":[["bf923f.f9d08dc"]]},{"id":"4f6169d.fc61798","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":779.233642578125,"y":888.466796875,"wires":[["89177593.f92258"]]},{"id":"89177593.f92258","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":886.9334716796875,"y":836.2666015625,"wires":[["96b1a836.7d2708"]]},{"id":"fe2ca4ee.671b38","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.9333190917969,"y":829.39990234375,"wires":[["2a14e5e1.62caba"]]},{"id":"96b1a836.7d2708","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":999,"y":812.533203125,"wires":[]},{"id":"c0155d6c.638a3","type":"link in","z":"367b8758.c31048","name":"checkersfoodservices","links":["ef9c12ef.3016a"],"x":156,"y":831,"wires":[["fe2ca4ee.671b38"]]},{"id":"12dc391f.563107","type":"timestamp","z":"367b8758.c31048","name":"begin","x":437,"y":1019,"wires":[["8261d642.7ebd38","b710373b.3e8b68"]]},{"id":"2adece2d.e724d2","type":"timestamp","z":"367b8758.c31048","name":"end","x":676.7669067382812,"y":979.533447265625,"wires":[["b710373b.3e8b68"]]},{"id":"8261d642.7ebd38","type":"http request","z":"367b8758.c31048","name":"transpharm","method":"GET","ret":"txt","url":"https://www.transpharm.co.za","tls":"","x":527.0000610351562,"y":934.2666015625,"wires":[["2adece2d.e724d2"]]},{"id":"b710373b.3e8b68","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":780.233642578125,"y":1030.466796875,"wires":[["45d9ff27.cfae5"]]},{"id":"45d9ff27.cfae5","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":887.9334716796875,"y":978.2666015625,"wires":[["c3c0f077.5046d"]]},{"id":"c677a7b3.8b38d8","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":306.9333190917969,"y":971.39990234375,"wires":[["12dc391f.563107"]]},{"id":"c3c0f077.5046d","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":1000,"y":954.533203125,"wires":[]},{"id":"b56ad78a.721ff8","type":"link in","z":"367b8758.c31048","name":"transpharm","links":["ef9c12ef.3016a"],"x":156,"y":958,"wires":[["c677a7b3.8b38d8"]]},{"id":"526dd053.74148","type":"timestamp","z":"367b8758.c31048","name":"begin","x":436,"y":1162,"wires":[["83e167d7.2e3908","aa4c2740.445d78"]]},{"id":"34906287.916b4e","type":"timestamp","z":"367b8758.c31048","name":"end","x":675.7669067382812,"y":1122.533447265625,"wires":[["aa4c2740.445d78"]]},{"id":"83e167d7.2e3908","type":"http request","z":"367b8758.c31048","name":"termsconditions","method":"GET","ret":"txt","url":"https://www.termsconditions.co.za","tls":"","x":536.0000610351562,"y":1077.2666015625,"wires":[["34906287.916b4e"]]},{"id":"aa4c2740.445d78","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":779.233642578125,"y":1173.466796875,"wires":[["b405431c.249cd"]]},{"id":"b405431c.249cd","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":886.9334716796875,"y":1121.2666015625,"wires":[["cd129e4a.cccd2"]]},{"id":"a3c30dca.769c4","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.9333190917969,"y":1114.39990234375,"wires":[["526dd053.74148"]]},{"id":"cd129e4a.cccd2","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":999,"y":1097.533203125,"wires":[]},{"id":"7550719f.1feb8","type":"link in","z":"367b8758.c31048","name":"termsconditions","links":["ef9c12ef.3016a"],"x":155,"y":1101,"wires":[["a3c30dca.769c4"]]},{"id":"dcab8b01.3cdab8","type":"timestamp","z":"367b8758.c31048","name":"begin","x":429,"y":1296,"wires":[["296e5361.2a39dc","456704a7.d90bac"]]},{"id":"5676d08f.a14bc","type":"timestamp","z":"367b8758.c31048","name":"end","x":668.7669067382812,"y":1256.533447265625,"wires":[["456704a7.d90bac"]]},{"id":"296e5361.2a39dc","type":"http request","z":"367b8758.c31048","name":"gmail","method":"GET","ret":"txt","url":"https://www.gmail.com","tls":"","x":499.00006103515625,"y":1211.2666015625,"wires":[["5676d08f.a14bc"]]},{"id":"456704a7.d90bac","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":772.233642578125,"y":1307.466796875,"wires":[["84aa003a.dd4fa"]]},{"id":"84aa003a.dd4fa","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":879.9334716796875,"y":1255.2666015625,"wires":[["de46c7d0.d2d0b8"]]},{"id":"b7f21d1a.c9d3","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.9333190917969,"y":1248.39990234375,"wires":[["dcab8b01.3cdab8"]]},{"id":"de46c7d0.d2d0b8","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":992,"y":1231.533203125,"wires":[]},{"id":"e1e14e8a.48cf2","type":"link in","z":"367b8758.c31048","name":"gmail","links":["ef9c12ef.3016a"],"x":148,"y":1235,"wires":[["b7f21d1a.c9d3"]]},{"id":"3eac76b3.3cbf5a","type":"timestamp","z":"367b8758.c31048","name":"begin","x":435,"y":1431,"wires":[["7923bd0d.4980b4","607ef5a3.04579c"]]},{"id":"2d9d816c.239b5e","type":"timestamp","z":"367b8758.c31048","name":"end","x":674.7669067382812,"y":1391.533447265625,"wires":[["607ef5a3.04579c"]]},{"id":"7923bd0d.4980b4","type":"http request","z":"367b8758.c31048","name":"pulse.shoprite","method":"GET","ret":"txt","url":"https://pulse.shoprite.co.za","tls":"","x":535.0000610351562,"y":1346.2666015625,"wires":[["2d9d816c.239b5e"]]},{"id":"607ef5a3.04579c","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":778.233642578125,"y":1442.466796875,"wires":[["8c22f945.e41db8"]]},{"id":"8c22f945.e41db8","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":885.9334716796875,"y":1390.2666015625,"wires":[["4d5efbae.587f54"]]},{"id":"87ad5b46.7fef28","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":304.9333190917969,"y":1383.39990234375,"wires":[["3eac76b3.3cbf5a"]]},{"id":"4d5efbae.587f54","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":998,"y":1366.533203125,"wires":[]},{"id":"dc2709c7.6aaaa8","type":"link in","z":"367b8758.c31048","name":"pulse.shoprite","links":["ef9c12ef.3016a"],"x":154,"y":1370,"wires":[["87ad5b46.7fef28"]]},{"id":"4e1c5881.123df8","type":"timestamp","z":"367b8758.c31048","name":"begin","x":431,"y":1567,"wires":[["1c2743b5.74769c","55c65b70.727954"]]},{"id":"10d047a9.efa338","type":"timestamp","z":"367b8758.c31048","name":"end","x":670.7669067382812,"y":1527.533447265625,"wires":[["55c65b70.727954"]]},{"id":"1c2743b5.74769c","type":"http request","z":"367b8758.c31048","name":"nervecenter.shoprite","method":"GET","ret":"txt","url":"https://nervecenter.shoprite.co.za","tls":"","x":551.0000610351562,"y":1482.2666015625,"wires":[["10d047a9.efa338"]]},{"id":"55c65b70.727954","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":774.233642578125,"y":1578.466796875,"wires":[["d87424cd.f247e8"]]},{"id":"d87424cd.f247e8","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":881.9334716796875,"y":1526.2666015625,"wires":[["8c510ab0.a4e0b8"]]},{"id":"3c6a5b8b.73fa44","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300.9333190917969,"y":1519.39990234375,"wires":[["4e1c5881.123df8"]]},{"id":"8c510ab0.a4e0b8","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":994,"y":1502.533203125,"wires":[]},{"id":"421a73e4.47b0dc","type":"link in","z":"367b8758.c31048","name":"nervecenter.shoprite","links":["ef9c12ef.3016a"],"x":150,"y":1506,"wires":[["3c6a5b8b.73fa44"]]},{"id":"40c5e619.3e7d28","type":"timestamp","z":"367b8758.c31048","name":"begin","x":430,"y":1702,"wires":[["46969e96.00227","ea646562.7eba38"]]},{"id":"29e813e5.a3752c","type":"timestamp","z":"367b8758.c31048","name":"end","x":669.7669067382812,"y":1662.533447265625,"wires":[["ea646562.7eba38"]]},{"id":"46969e96.00227","type":"http request","z":"367b8758.c31048","name":"online.checkers","method":"GET","ret":"txt","url":"https://online.checkers.co.za/","tls":"","x":530.0000610351562,"y":1617.2666015625,"wires":[["29e813e5.a3752c"]]},{"id":"ea646562.7eba38","type":"msgAggregator","z":"367b8758.c31048","name":"","master":"","match":"_msgid","aggrField":"payload.aggregated","payloadOnly":false,"timeoutValue":"4000","timeoutAction":"forward","count":"4","x":773.233642578125,"y":1713.466796875,"wires":[["80db72bb.60ece"]]},{"id":"80db72bb.60ece","type":"function","z":"367b8758.c31048","name":"","func":"/*for (var i=0; i<msg.payload.aggregated.length;i++) {\n  if (msg.payload.aggregated[i].payload == \"hpSVR01\") {\n      msg.payload = \"svr\";\n  }\n}*/\n\nmsg.payload = msg.payload.aggregated[0].myhostname+\",\"+(Date.parse(msg.payload.aggregated[1].timestamp)-Date.parse(msg.payload.aggregated[0].timestamp))+\",\"+msg.payload.aggregated[1].statusCode+\",\"+msg.payload.aggregated[1].responseUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":880.9334716796875,"y":1661.2666015625,"wires":[["59ca1e3a.3185b"]]},{"id":"f7332138.6bd84","type":"change","z":"367b8758.c31048","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myhostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.9333190917969,"y":1654.39990234375,"wires":[["40c5e619.3e7d28"]]},{"id":"59ca1e3a.3185b","type":"link out","z":"367b8758.c31048","name":"","links":["a0f1be34.26685"],"x":993,"y":1637.533203125,"wires":[]},{"id":"a544cd78.aa4b2","type":"link in","z":"367b8758.c31048","name":"online.checkers","links":["ef9c12ef.3016a"],"x":149,"y":1641,"wires":[["f7332138.6bd84"]]}]