Node Red Dev/dashboard.txt
[{"id":"b0997a5a.4b9e78","type":"udp in","z":"b1d8e896.279fc8","name":"","iface":"","port":"9123","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":89.41250610351562,"y":106.81875610351562,"wires":[["1710fa2.73a3d06"]]},{"id":"dfd1c3f0.c0388","type":"ui_chart","z":"b1d8e896.279fc8","name":"hpSVR02-checkers-chart","group":"708af402.3efecc","order":7,"width":"7","height":"4","label":"hpSVR02-checkers","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":915.4126281738281,"y":619.2855453491211,"wires":[[],[]]},{"id":"501bb041.3ec15","type":"ui_gauge","z":"b1d8e896.279fc8","name":"hpSVR02-checkers-gauge","group":"b140f14c.9a6f9","order":4,"width":"5","height":"4","gtype":"gage","title":"hpSVR02-checkers","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"x":901.4126281738281,"y":545.1521835327148,"wires":[]},{"id":"6b2063ca.d9774c","type":"comment","z":"b1d8e896.279fc8","name":"hpSVR01","info":"","x":331.4127197265625,"y":170.88536834716797,"wires":[]},{"id":"35c60c2f.91baf4","type":"ui_chart","z":"b1d8e896.279fc8","name":"hpSVR01-google-chart","group":"708af402.3efecc","order":5,"width":"7","height":"4","label":"hpSVR01-google","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":869.1793518066406,"y":87.4853515625,"wires":[[],[]]},{"id":"3d016bf8.d37e84","type":"ui_gauge","z":"b1d8e896.279fc8","name":"hpSVR01-google-gauge","group":"b140f14c.9a6f9","order":1,"width":"5","height":"4","gtype":"gage","title":"hpSVR01-google-gauge","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"x":878.1793518066406,"y":48.351959228515625,"wires":[]},{"id":"1710fa2.73a3d06","type":"switch","z":"b1d8e896.279fc8","name":"server switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"hpSVR01","vt":"str"},{"t":"cont","v":"hpSVR02","vt":"str"}],"checkall":"true","outputs":2,"x":123.9459228515625,"y":362.41869354248047,"wires":[["a084784.8bcda88"],["bf61bfa.f1cf24"]]},{"id":"402d96fd.335608","type":"function","z":"b1d8e896.279fc8","name":"SVR02-checkers","func":"var field = msg.payload.split(\",\");\nreturn [ [ {payload:field[1]} ],[ {payload:field[2]} ] ]\nreturn msg\n ","outputs":"2","noerr":0,"x":620.7126770019531,"y":642.4854965209961,"wires":[["501bb041.3ec15","dfd1c3f0.c0388"],["f0845a9f.25de48"]]},{"id":"3e9ec7fc.0d0eb8","type":"function","z":"b1d8e896.279fc8","name":"SVR01-google","func":"var field = msg.payload.split(\",\");\nreturn [ [ {payload:field[1]} ], [ {payload:field[2]} ]]\nreturn msg\n ","outputs":"2","noerr":0,"x":589.4126281738281,"y":131.61864471435547,"wires":[["3d016bf8.d37e84","35c60c2f.91baf4"],["80f3ffd8.0c832"]]},{"id":"bf61bfa.f1cf24","type":"switch","z":"b1d8e896.279fc8","name":"endpoint switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"google","vt":"str"},{"t":"cont","v":"checkers","vt":"str"}],"checkall":"true","outputs":2,"x":356.94586181640625,"y":550.2855453491211,"wires":[["ae331e44.3c3c2"],["402d96fd.335608"]]},{"id":"1686ef5b.569971","type":"comment","z":"b1d8e896.279fc8","name":"hpSVR02","info":"","x":337.712646484375,"y":510.4854965209961,"wires":[]},{"id":"ae331e44.3c3c2","type":"function","z":"b1d8e896.279fc8","name":"SVR02-google","func":"var field = msg.payload.split(\",\");\nreturn [ [ {payload:field[1]} ],[ {payload:field[2]} ] ]\nreturn msg\n ","outputs":"2","noerr":0,"x":592.0127258300781,"y":458.6853561401367,"wires":[["f2bbe24e.fbf1c","992dd7ff.522f28"],["745061de.b3e1"]]},{"id":"992dd7ff.522f28","type":"ui_chart","z":"b1d8e896.279fc8","name":"hpSVR02-google-chart","group":"708af402.3efecc","order":8,"width":"7","height":"4","label":"hpSVR02-google","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":883.7125549316406,"y":393.4854049682617,"wires":[[],[]]},{"id":"f2bbe24e.fbf1c","type":"ui_gauge","z":"b1d8e896.279fc8","name":"hpSVR02-google-gauge","group":"b140f14c.9a6f9","order":3,"width":"5","height":"4","gtype":"gage","title":"hpSVR02-google-gauge","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"x":892.7125549316406,"y":349.3521041870117,"wires":[]},{"id":"c2dced17.bd168","type":"ui_chart","z":"b1d8e896.279fc8","name":"hpSVR01-checkers-chart","group":"708af402.3efecc","order":6,"width":"7","height":"4","label":"hpSVR01-checkers","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":887.7125549316406,"y":252.4853744506836,"wires":[[],[]]},{"id":"96e04d9d.35f7","type":"ui_gauge","z":"b1d8e896.279fc8","name":"hpSVR01-checkers-gauge","group":"b140f14c.9a6f9","order":2,"width":"5","height":"4","gtype":"gage","title":"hpSVR01-checkers-gauge","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"x":885.7125549316406,"y":206.35204315185547,"wires":[]},{"id":"7baa1a8f.90e044","type":"function","z":"b1d8e896.279fc8","name":"SVR01-checkers","func":"var field = msg.payload.split(\",\");\nreturn [ [ {payload:field[1]} ], [ {payload:field[2]}]]\nreturn msg\n ","outputs":"2","noerr":0,"x":600.9460144042969,"y":287.6187057495117,"wires":[["96e04d9d.35f7","c2dced17.bd168"],["3435ab0c.5f53e4"]]},{"id":"a084784.8bcda88","type":"switch","z":"b1d8e896.279fc8","name":"endpoint switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"google","vt":"str"},{"t":"cont","v":"checkers","vt":"str"}],"checkall":"true","outputs":2,"x":357.9459228515625,"y":211.2853775024414,"wires":[["3e9ec7fc.0d0eb8"],["7baa1a8f.90e044"]]},{"id":"904ef3a.638f91","type":"link out","z":"b1d8e896.279fc8","name":"google-hpSVR01","links":["44330b0c.d4ade4","88b1f7dd.d72908","1a65e134.7ed37f","f2facef8.2f407","4f4c532f.b7612c","1a9c5919.1ea077","2c6d882b.6221f8","9d8940d.7ada5c"],"x":1168.1667175292969,"y":134.99996185302734,"wires":[]},{"id":"ac49341c.2f03b8","type":"link out","z":"b1d8e896.279fc8","name":"google-hpSVR02","links":["30521a50.0b52e6","88b1f7dd.d72908","1a65e134.7ed37f","f485d72c.bb1778","4f4c532f.b7612c","c9e5f2ad.46d65","2c6d882b.6221f8","8ba0401d.c757d"],"x":1194.9333190917969,"y":450.93334197998047,"wires":[]},{"id":"80f3ffd8.0c832","type":"function","z":"b1d8e896.279fc8","name":"status to weight","func":"\nreturn msg;","outputs":1,"noerr":0,"x":849.1667785644531,"y":137.5999984741211,"wires":[["904ef3a.638f91"]]},{"id":"745061de.b3e1","type":"function","z":"b1d8e896.279fc8","name":"status to weight","func":"\nreturn msg;","outputs":1,"noerr":0,"x":869.9333801269531,"y":449.93334197998047,"wires":[["ac49341c.2f03b8"]]},{"id":"b2435f4e.849de","type":"link out","z":"b1d8e896.279fc8","name":"checkers-hpSVR01","links":["1a9c5919.1ea077","d4d81ea5.7311c","9d8940d.7ada5c","8a1c6bfe.e016f8"],"x":1187.9333190917969,"y":291.93331146240234,"wires":[]},{"id":"3435ab0c.5f53e4","type":"function","z":"b1d8e896.279fc8","name":"status to weight","func":"\nreturn msg;","outputs":1,"noerr":0,"x":856.933349609375,"y":294.53333282470703,"wires":[["b2435f4e.849de"]]},{"id":"2498629b.bb515e","type":"link out","z":"b1d8e896.279fc8","name":"google-hpSVR01","links":["30521a50.0b52e6","38db510a.85e74e","f485d72c.bb1778","f6710965.837938","c9e5f2ad.46d65","d4d81ea5.7311c","8ba0401d.c757d","8a1c6bfe.e016f8"],"x":1220.9333190917969,"y":659.9333724975586,"wires":[]},{"id":"f0845a9f.25de48","type":"function","z":"b1d8e896.279fc8","name":"status to weight","func":"\nreturn msg;","outputs":1,"noerr":0,"x":890.933349609375,"y":660.5333633422852,"wires":[["2498629b.bb515e"]]},{"id":"708af402.3efecc","type":"ui_group","z":"","name":"Graphs","tab":"27b9acdc.9839c4","order":1,"disp":false,"width":"30"},{"id":"b140f14c.9a6f9","type":"ui_group","z":"","name":"SVR01","tab":"27b9acdc.9839c4","order":2,"disp":false,"width":"30"},{"id":"27b9acdc.9839c4","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]