Node Red Dev/Gmail.txt
[{"id":"2d0daf3c.2967c","type":"debug","z":"d67aaf67.37a53","name":"","active":true,"console":"false","complete":"timestart","x":1229.933349609375,"y":247.19996643066406,"wires":[]},{"id":"9af7a0a4.be6d3","type":"timestamp","z":"d67aaf67.37a53","name":"begin","x":390.9332275390625,"y":308.7999725341797,"wires":[["cb3be563.b57368"]]},{"id":"9add7815.e71e78","type":"timestamp","z":"d67aaf67.37a53","name":"end","x":791.7000122070312,"y":460.3333282470703,"wires":[["b51a96e0.bddfc8"]]},{"id":"cb3be563.b57368","type":"change","z":"d67aaf67.37a53","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"timestart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":525.9332580566406,"y":353.19996643066406,"wires":[["f3c94b78.a13268"]]},{"id":"b51a96e0.bddfc8","type":"change","z":"d67aaf67.37a53","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"timeend","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.699951171875,"y":376.3332977294922,"wires":[["1cced78d.bf6cb8"]]},{"id":"1cced78d.bf6cb8","type":"function","z":"d67aaf67.37a53","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1080.9333801269531,"y":314.1333236694336,"wires":[[]]},{"id":"4a22a1b7.9c814","type":"debug","z":"d67aaf67.37a53","name":"","active":true,"console":"false","complete":"timeend","x":1250.6999206542969,"y":297.3332748413086,"wires":[]},{"id":"f3c94b78.a13268","type":"http request","z":"d67aaf67.37a53","name":"","method":"GET","ret":"txt","url":"http://www.gmail.com","tls":"","x":651.9332580566406,"y":399.06666564941406,"wires":[["9add7815.e71e78"]]},{"id":"7dfab7a0.4c3dc8","type":"debug","z":"d67aaf67.37a53","name":"","active":true,"console":"false","complete":"statusCode","x":1225.6999206542969,"y":198.3332748413086,"wires":[]},{"id":"768d91da.cdf84","type":"change","z":"d67aaf67.37a53","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.hostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":306.69989013671875,"y":246.3332748413086,"wires":[["9af7a0a4.be6d3"]]},{"id":"96175130.7b79b","type":"debug","z":"d67aaf67.37a53","name":"","active":true,"console":"false","complete":"payload.hostname","x":1248.699951171875,"y":155.3332977294922,"wires":[]},{"id":"f0efa0a4.61bed","type":"debug","z":"d67aaf67.37a53","name":"","active":true,"console":"false","complete":"responseUrl","x":1274.699951171875,"y":345.3332977294922,"wires":[]},{"id":"7eca759.eecb58c","type":"join","z":"d67aaf67.37a53","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1210.9332885742188,"y":58.86663818359375,"wires":[["af67fb5a.17d1f8"]]},{"id":"4600fbd7.c53e64","type":"link in","z":"d67aaf67.37a53","name":"","links":["3084e4e6.133dec"],"x":199.9332275390625,"y":172.066650390625,"wires":[["768d91da.cdf84"]]},{"id":"af67fb5a.17d1f8","type":"udp out","z":"d67aaf67.37a53","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1416.9333801269531,"y":56.99998474121094,"wires":[]}]