Node Red Dev/host.txt
[{"id":"71c79173.5259e","type":"udp out","z":"cd7f3ba4.9fb688","name":"udp_export","addr":"esmdevweb01.shoprite.co.za","iface":"","port":"9123","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":824,"y":148,"wires":[]},{"id":"a0f1be34.26685","type":"link in","z":"cd7f3ba4.9fb688","name":"udp_export","links":["30d1604a.e60b1","78dd265b.926488","7de7f7ed.2fe7c8","83f31573.789c28","9c0387e3.593ed8","a409bceb.35d12","bca844a0.d502f8","c6bbd7f2.0ebc08","e29945a8.ddab38","e8af08d7.fb9ab8","eabcfe35.c6b05","f4d3fe1d.945df","55cbccd5.43d694","7b00baa8.4eb364","202bd7da.27d468","cb4375a9.159a88","96b1a836.7d2708","c3c0f077.5046d","cd129e4a.cccd2","de46c7d0.d2d0b8","4d5efbae.587f54","8c510ab0.a4e0b8","d3403950.9adf08","59ca1e3a.3185b"],"x":655,"y":107,"wires":[["71c79173.5259e"]]},{"id":"48949608.4ee918","type":"inject","z":"cd7f3ba4.9fb688","name":"","topic":"","payload":"esmawsazeucentral1a","payloadType":"str","repeat":"","crontab":"","once":false,"x":187,"y":134,"wires":[["ef9c12ef.3016a"]]},{"id":"ef9c12ef.3016a","type":"link out","z":"cd7f3ba4.9fb688","name":"","links":["2f0cd3d3.f1cc2c","421a73e4.47b0dc","7550719f.1feb8","781f558f.9d04fc","9c615ca9.f9617","9cc1a873.6f1ab8","a544cd78.aa4b2","b56ad78a.721ff8","c0155d6c.638a3","c0259d36.7de98","dc2709c7.6aaaa8","e1e14e8a.48cf2"],"x":373,"y":109,"wires":[]}]