Node Red Dev/Latency Test.txt
[{"id":"697ecfdd.1c2dc","type":"change","z":"6739f971.09e978","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590.9334106445312,"y":303.93331146240234,"wires":[["79ad0e38.aa1bc"]]},{"id":"2a05f3c5.40e31c","type":"timestamp","z":"6739f971.09e978","name":"begin","x":263.93328857421875,"y":495.5333251953125,"wires":[["697ecfdd.1c2dc","6c5cc2e8.a7836c"]]},{"id":"a03aefbf.e188a","type":"timestamp","z":"6739f971.09e978","name":"end","x":469.7001647949219,"y":490.0666809082031,"wires":[["45697d5f.bf0954"]]},{"id":"45697d5f.bf0954","type":"change","z":"6739f971.09e978","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.7001342773438,"y":368.06664276123047,"wires":[["79ad0e38.aa1bc"]]},{"id":"6c5cc2e8.a7836c","type":"http request","z":"6739f971.09e978","name":"","method":"GET","ret":"txt","url":"http://www.google.com","tls":"","x":377.9333190917969,"y":599.8000183105469,"wires":[["a03aefbf.e188a","89e02315.05828","42df87d4.83c1a8"]]},{"id":"eb70c0ff.1351b","type":"change","z":"6739f971.09e978","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.hostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":187.699951171875,"y":399.0666198730469,"wires":[["2a05f3c5.40e31c"]]},{"id":"376c8401.95a24c","type":"debug","z":"6739f971.09e978","name":"Output","active":true,"console":"false","complete":"payload","x":1401.9335021972656,"y":187.93335723876953,"wires":[]},{"id":"89e02315.05828","type":"change","z":"6739f971.09e978","name":"","rules":[{"t":"move","p":"statusCode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":736.7001037597656,"y":496.06664276123047,"wires":[["79ad0e38.aa1bc"]]},{"id":"42df87d4.83c1a8","type":"change","z":"6739f971.09e978","name":"","rules":[{"t":"move","p":"responseUrl","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730.7001037597656,"y":542.0666427612305,"wires":[["79ad0e38.aa1bc"]]},{"id":"707f4d40.9f04d4","type":"inject","z":"6739f971.09e978","name":"","topic":"google","payload":"hpSVR01","payloadType":"str","repeat":"","crontab":"","once":false,"x":177.699951171875,"y":85.06663513183594,"wires":[["eb70c0ff.1351b","79ad0e38.aa1bc"]]},{"id":"79ad0e38.aa1bc","type":"join","z":"6739f971.09e978","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"1","count":"","x":945.9339904785156,"y":251.53325653076172,"wires":[["221f53a9.2e5eac"]]},{"id":"221f53a9.2e5eac","type":"function","z":"6739f971.09e978","name":"Latency","func":"var start = msg.payload.slice(0,24);\nvar end = msg.payload.slice(33, 57);\nvar svr = msg.payload.slice(25, 32);\nvar stat = msg.payload.slice(58,61);\nvar url = msg.payload.slice(62, msg.payload.length);\n\nmsg.payload= Date.parse(end) - Date.parse(start);\n\nmsg.payload = svr+\",\"+msg.payload+\",\"+stat+\",\"+url;\n\nreturn msg;","outputs":1,"noerr":0,"x":1128.1667785644531,"y":254.5999984741211,"wires":[["376c8401.95a24c"]]}]