Node Red Dev/new Azure status.txt
[{"id":"963acf05.0fc5e","type":"inject","z":"eea3f724.d41868","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.16665649414062,"y":99.13333129882812,"wires":[["48562e41.ee51e"]]},{"id":"48562e41.ee51e","type":"http request","z":"eea3f724.d41868","name":"","method":"GET","ret":"txt","url":"https://status.aws.amazon.com/","tls":"","x":318.1667785644531,"y":98.933349609375,"wires":[["e01659b2.b8df98"]]},{"id":"e01659b2.b8df98","type":"html","z":"eea3f724.d41868","name":"","tag":"#EU_block","ret":"html","as":"multi","x":569.1667785644531,"y":99.33334350585938,"wires":[["da4e0d03.e17d7"]]},{"id":"39559398.baa77c","type":"template","z":"eea3f724.d41868","name":"CSS","field":"style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        .ok {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #00ff00, #000);\n    }\n    .semi {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #ffa500, #000);\n    }\n    \n    .down {\n      display: block;\n      background: black;\n      border-radius: 100%;\n      height: 20px;\n      width: 20px;\n      margin: 0;\n      background: radial-gradient(circle at 15px 15px, #ff0000, #000);\n    }\n    \n   .checkmark_ok {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(45deg); /* IE 9 */\n    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */\n    transform: rotate(45deg);\n}\n\n.checkmark_down {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(90deg); /* IE 9 */\n    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */\n    transform: rotate(90deg);\n}\n\n.checkmark_semi {\n    display:inline-block;\n    width: 22px;\n    height:22px;\n    -ms-transform: rotate(0deg); /* IE 9 */\n    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */\n    transform: rotate(0deg);\n}\n\n\n.checkmark_stem_ok {\n    position: absolute;\n    width:3px;\n    height:9px;\n    background-color:#fff;\n    left:11px;\n    top:6px;\n}\n\n\n.checkmark_kick_ok {\n    position: absolute;\n    width:3px;\n    height:3px;\n    background-color:#fff;\n    left:8px;\n    top:12px;\n}\n\n\n .checkmark_kick_semi {\n\n}\n\n .checkmark_stem_down {\n\n}\n\n.checkmark_kick_down {\n    position: absolute;\n    width:4px;\n    height:8px;\n    background-color:#fff;\n    left:10px;\n    top:7px;\n}\n.checkmark_stem_semi{\n    position: absolute;\n    left:5px;\n    top:5px;\n\t  width: 0;\n\t  height: 0;\n\t  border-left: 6px solid transparent;\n\t  border-right: 6px solid transparent;\n\t  border-bottom: 10px solid #fff;\n}\n\n#btn1 {\n    -moz-border-radius: 10px;\n    -webkit-border-radius: 10px;\n}","x":1204.9333801269531,"y":335.93331146240234,"wires":[["e5ff8ffc.a24d9"]]},{"id":"e5ff8ffc.a24d9","type":"ui_template","z":"eea3f724.d41868","group":"b83c2f48.5549c","name":"aws status","order":1,"width":"15","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n<br><br>\n<center>\n    <div>\n        AWS Status\n    </div>\n</center>\n<md-button id=\"btn1\" class=\"md-raised md-cornered md-success\" ng-style=\"{'background-color':msg.payload === 'ok'? 'green' : msg.payload === 'semi'? 'orange':  msg.payload === 'down'? 'red': 'black'}\" >\n    <font size = \"2\">\n        <strong>{{msg.payload === 'ok'? 'Service is operating normally': msg.payload === 'semi'? 'Performance issues': msg.payload === 'down'? 'Service disruption': 'None'}}\n        </strong>\n    </font>\n</md-button>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"x":1408.133316040039,"y":335.93331146240234,"wires":[[]]},{"id":"da4e0d03.e17d7","type":"file","z":"eea3f724.d41868","name":"Write","filename":"D://temp//euroblock.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":793.1667785644531,"y":99.73333740234375,"wires":[]},{"id":"a365ef98.ba7f3","type":"file in","z":"eea3f724.d41868","name":"Read","filename":"D://temp//euroblock.txt","format":"utf8","x":236.166748046875,"y":336.6666793823242,"wires":[["4ecff0a0.5e6f1","6506d4ba.97580c","f8fb3d5e.8c2b3"]]},{"id":"b47a44cc.592068","type":"watch","z":"eea3f724.d41868","name":"watch","files":"D://temp//euroblock.txt","x":65.16665649414062,"y":336.80004119873047,"wires":[["a365ef98.ba7f3"]]},{"id":"4ecff0a0.5e6f1","type":"function","z":"eea3f724.d41868","name":"Service is operating normally","func":"var str = msg.payload;\nvar num_matches = str.match(/Service is operating normally/gi).length;\n\nmsg.payload = num_matches;\n\nreturn msg;","outputs":1,"noerr":0,"x":485.1667175292969,"y":424.80004119873047,"wires":[["ae2028be.39eb28"]]},{"id":"6506d4ba.97580c","type":"function","z":"eea3f724.d41868","name":"Performance issues","func":"var str = msg.payload;\nvar num_matches = str.match(/Performance issues/gi).length;\n\nmsg.payload = num_matches;\n\nreturn msg;","outputs":1,"noerr":0,"x":470.16668701171875,"y":257.7999496459961,"wires":[["1ccdcf1e.83fd61"]]},{"id":"f8fb3d5e.8c2b3","type":"function","z":"eea3f724.d41868","name":"Service disruption","func":"var str = msg.payload;\nvar num_matches = str.match(/Service disruption/gi).length;\n\nmsg.payload = num_matches;\n\nreturn msg;","outputs":1,"noerr":0,"x":459.16668701171875,"y":334.80004119873047,"wires":[["4e1211e.21701f"]]},{"id":"fed5ef93.ca742","type":"comment","z":"eea3f724.d41868","name":"Writing the table to a file","info":"","x":474.1666564941406,"y":31.666664123535156,"wires":[]},{"id":"65239435.1de33c","type":"comment","z":"eea3f724.d41868","name":"Counting occurances of messages","info":"","x":470.9333801269531,"y":198.93331146240234,"wires":[]},{"id":"1ccdcf1e.83fd61","type":"change","z":"eea3f724.d41868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"perfomance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":716.1667785644531,"y":257.2000045776367,"wires":[["73c6b8c6.505618"]]},{"id":"4e1211e.21701f","type":"change","z":"eea3f724.d41868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"disruption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.933349609375,"y":335.9333190917969,"wires":[["73c6b8c6.505618"]]},{"id":"ae2028be.39eb28","type":"change","z":"eea3f724.d41868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"normal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":727.933349609375,"y":424.9333190917969,"wires":[["73c6b8c6.505618"]]},{"id":"73c6b8c6.505618","type":"switch","z":"eea3f724.d41868","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":959.1667785644531,"y":335.0666732788086,"wires":[[]]},{"id":"b83c2f48.5549c","type":"ui_group","z":"","name":"Group 1","tab":"45ce41c5.82f18","order":1,"disp":true,"width":"16"},{"id":"45ce41c5.82f18","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]