Node Red Dev/Text Lookup.txt
[{"id":"9d28de8a.6c094","type":"file in","z":"f5f68bd3.b22658","name":"List Of Team Members","filename":"/users/asithembiso/Documents/teammembers.txt","format":"utf8","x":721.5,"y":277.99999237060547,"wires":[["761ebf0.5f25b4","3b937374.28ec3c"]]},{"id":"761ebf0.5f25b4","type":"function","z":"f5f68bd3.b22658","name":"Check for Match","func":"var arrayOfTextEntries = msg.payload.split(\";\");\nvar entryToLookFor = msg.entryToLookFor;\nif (arrayOfTextEntries.indexOf(entryToLookFor)>=1){\n    msg.found = true;\n} else {\n    msg.found = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":714.5,"y":426.99999237060547,"wires":[["7d1aea21.ab3174"]]},{"id":"f4c69cc6.e8513","type":"inject","z":"f5f68bd3.b22658","name":"String to check for","topic":"","payload":"Bob@minions.com","payloadType":"str","repeat":"","crontab":"","once":false,"x":126.5,"y":361.99999237060547,"wires":[["7dbde51b.de8eec"]]},{"id":"7dbde51b.de8eec","type":"function","z":"f5f68bd3.b22658","name":"Format msg for later check","func":"msg.entryToLookFor = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":278.99999237060547,"wires":[["9d28de8a.6c094"]]},{"id":"7d1aea21.ab3174","type":"debug","z":"f5f68bd3.b22658","name":"","active":true,"console":"false","complete":"found","x":996.5,"y":427.99999237060547,"wires":[]},{"id":"3b937374.28ec3c","type":"debug","z":"f5f68bd3.b22658","name":"","active":true,"console":"false","complete":"false","x":996.5000305175781,"y":279.99999237060547,"wires":[]},{"id":"be2883fd.b66f3","type":"comment","z":"f5f68bd3.b22658","name":"A simple way to check if an input matches an entry in a text file","info":"","x":235,"y":174.99999237060547,"wires":[]},{"id":"3571f99d.f7fe96","type":"comment","z":"f5f68bd3.b22658","name":"Output the contents of the file for testing purposes","info":"So that we can check we have found the file and what it contains","x":1115,"y":232.99999237060547,"wires":[]},{"id":"62ae4954.dcf3f8","type":"comment","z":"f5f68bd3.b22658","name":"Have we found the string in the file?","info":"","x":1069,"y":391.99999237060547,"wires":[]},{"id":"33d0dff6.eb05d","type":"comment","z":"f5f68bd3.b22658","name":"Full path to your text file","info":"eg /Users/tim/Desktop/teammembers.txt\n\nThis flow is written to accept a text file \nwith entries separated by semi-colons eg.\n\nDave@minions.com;Stuart@minions.com;Bob@minions.com;Jerry@minions.com;Carl@minions.com;Kevin@minions.com;Tim@minions.com;Mark@minions.com;Phil@minions.com;John@minions.com;Josh@minions.com;Steve@minions.com;Donny@minions.com;Ken@minions.com;Mike@minions.com;Paul@minions.com;Lance@minions.com;Larry@minions.com;Jorge@minions.com;Tom@minions.com;Norbert@minions.com;Chris@minions.com;Darwin@minions.com;\n\nThe separator is defined and can be changed in the split function within the Check for Match function","x":732,"y":234.99999237060547,"wires":[]},{"id":"54c42cfb.8b84d4","type":"comment","z":"f5f68bd3.b22658","name":"Add an entryToLookFor value to the msg object","info":"","x":413,"y":235.99999237060547,"wires":[]},{"id":"fa14eb46.7645c8","type":"comment","z":"f5f68bd3.b22658","name":"Convert the string returned by the file node to an array and check if msg.entryToLookFor is in that array","info":"","x":977,"y":470.99999237060547,"wires":[]}]